<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Быстрая регистрации</title>
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap-theme.css">
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
    <script src="/assets/javascripts/jquery-2.1.1.js" type="text/javascript"></script>
    <script src="/assets/javascripts/bootstrap.js" type="text/javascript"></script>
    <script src="/assets/javascripts/placeholders.jquery.min.js" type="text/javascript"></script>
    <script src="/assets/javascripts/validation.support.js" type="text/javascript"></script>
    <style>
        .centered {
        float: none;
        margin-left: auto;
        margin-right: auto;
        }
    </style>
</head>
<body>
@views.html.header()
<script type="text/javascript">
    $(function() {
        initHeader();
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="centered" style="max-width: 310px;">
            <h1 class="text-center" style="margin-bottom: 0px;">
                Быстрая регистрация
            </h1>
            <span class="help-block bg-success text-center">Регистрация необходима, чтобы вы могли управлять своим объявлением.</span>

            <form id="registrationForm" role="form" method="post" action="/registration/register" class="row well">
                <div class="form-group text-center" id="userTypeGroup">
                    <label class="radio-inline">
                        <input type="radio" name="userType" value="PRIVATE" checked
                               onclick="switchFields(true);">
                        Частное лицо
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="userType" value="COMPANY"
                               onclick="switchFields(false);">
                        Компания
                    </label>
                    <span class="help-block text-left hidden" errorCode="e1">Укажите юридический статус</span>
                </div>
                <div class="form-group" id="privateNameGroup">
                    <input type="text" name="privateName" class="form-control" placeholder="Ваше имя">
                    <span class="help-block hidden" errorCode="e1">Укажите ваше имя</span>
                </div>
                <div class="form-group hidden" id="companyNameGroup">
                    <input type="text" name="companyName" class="form-control" placeholder="Название компании">
                    <span class="help-block hidden" errorCode="e1">Укажите название компании</span>
                </div>
                <div class="form-group hidden" id="companyContactPersonGroup">
                    <input type="text" name="contactPerson" class="form-control" placeholder="Контактное лицо">
                    <span class="help-block hidden" errorCode="e1">Укажите контактное лицо</span>
                </div>
                <div class="form-group" id="emailGroup">
                    <input type="text" name="email" class="form-control" placeholder="Электронная почта">
                    <span class="help-block hidden" errorCode="e1">Укажите электронную почту</span>
                    <span class="help-block hidden" errorCode="e2">Некорректный адрес электронной почты</span>
                    <span class="help-block hidden" errorCode="e3">Этот адрес уже используется</span>
                </div>
                <div class="form-group" id="phoneNumberGroup">
                    <input type="text" name="phoneNumber" class="form-control" placeholder="Номер телефона">
                    <span class="help-block hidden" errorCode="e1">Укажите номер телефона</span>
                </div>
                <div class="form-group" id="passwordGroup">
                    <input type="password" name="password" class="form-control" placeholder="Пароль">
                    <span class="help-block hidden" errorCode="e1">Пароль должен содержать не менее 5 символов</span>
                </div>
                <div class="form-group" id="passwordCopyGroup">
                    <input type="password" name="passwordCopy" class="form-control" placeholder="Повторите пароль">
                    <span class="help-block hidden" errorCode="e1">Пароль и подтверждение не совпадают</span>
                </div>
                <div id="recaptcha_widget" style="display:none">
                    <div class="form-group">
                        <div id="recaptcha_image"></div>
                    </div>
                    <div class="form-group" id="recaptcha_response_fieldGroup">
                        <div class="input-group">
                            <input type="text" class="form-control" id="recaptcha_response_field"
                                   name="recaptcha_response_field" placeholder="Текст с картинки"/>

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" onclick="Recaptcha.reload();">
                                        <span class="glyphicon glyphicon-refresh">
                                        </span>
                                </button>
                            </div>
                        </div>
                        <span class="help-block hidden" errorCode="e1">Введите код подтверждения</span>
                        <span class="help-block hidden" errorCode="e2">Неверный код подтверждения</span>
                    </div>
                    <script type="text/javascript">
                         var RecaptchaOptions = {
                            theme : 'custom',
                            custom_theme_widget: 'recaptcha_widget'
                         };

                    </script>
                    <script type="text/javascript"
                            src="http://www.google.com/recaptcha/api/challenge?k=6LdUM_gSAAAAAOjnFDxtjOua40gbZTxWUD6JJpSV">
                    </script>
                    <noscript>
                        <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LdUM_gSAAAAAOjnFDxtjOua40gbZTxWUD6JJpSV"
                                height="300" width="500" frameborder="0"></iframe>
                        <br>
                        <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                        </textarea>
                        <input type="hidden" name="recaptcha_response_field"
                               value="manual_challenge">
                    </noscript>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">Зарегистрироваться</button>
                    <span class="help-block bg-success">Сразу после регистрации мы перейдём к созданию объявления</span>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
        var switchFields=function(isPrivate){
            if (isPrivate){
                $('#companyNameGroup').addClass('hidden');
                $('#companyContactPersonGroup').addClass('hidden');
                $('#privateNameGroup').removeClass('hidden');
            } else {
                $('#privateNameGroup').addClass('hidden');
                $('#companyNameGroup').removeClass('hidden');
                $('#companyContactPersonGroup').removeClass('hidden');
            }
        }

        var validate=function(){
            var registrationForm = $('#registrationForm');
            clearErrors(registrationForm);
            var isPrivate = registrationForm.find('input[name=userType]:checked').val()==='PRIVATE';
            var isValid=true;
            if (isPrivate){
                isValid = validateNotNull(registrationForm.find('#privateNameGroup')) && isValid;
            } else {
                isValid = validateNotNull(registrationForm.find('#companyNameGroup')) && isValid;
                isValid = validateNotNull(registrationForm.find('#companyContactPersonGroup')) && isValid;
            }
            isValid = validateEmail(registrationForm.find('#emailGroup')) && isValid;
            isValid = validateNotNull(registrationForm.find('#phoneNumberGroup')) && isValid;
            isValid = validatePassword(registrationForm.find('#passwordGroup')) && isValid;
            isValid = validateNotNull(registrationForm.find('#recaptcha_response_fieldGroup')) && isValid;
            isValid = validateEqual(registrationForm.find('#passwordCopyGroup'), registrationForm.find('input[name=password]').val()) && isValid;
            return isValid;
        };

        $('#registrationForm').on('submit', function(e) {
            e.preventDefault();
            if (validate()){
                var params=$.grep($(this).serializeArray(),function(obj, i ) {
                    return obj.value!="";
                });
                $.post($(this).attr('action'), $.param(params),function(data) {
                    clearErrors($('#registrationForm'));
                    $.each(data, function(key, element) {
                        var registrationForm = $('#registrationForm');
                        if (element!==null){
                            setError(registrationForm.find('#'+key+'Group'),element);
                        };
                        if (key==='recaptcha_response_field'){
                            Recaptcha.reload();
                        };
                    });
                    if (!data.hasProblems){
                        window.location.href = '/new_property';
                    }
                }, "json");
            };
        });
</script>
</body>
</html>
